.total_contacts {
    border: 1px solid black;
    width: auto;
    height: 100vh;
    display: flex;
  }
  .left_div {
    border: 1px solid black;
    width: 15%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #CEF3FF;
  }
  .dashboard {
    /* border: 1px solid black; */
    display: flex;
    margin-top: 30px;
    flex-direction: row;
  }
  .box {
    /* border: 1px solid black; */
    width: 140px;
    height: 40px;
    margin-top: 30px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2DA5FC;
  }
  .logout {
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 450px;
  }
  .right_div {
    border: 1px solid black;
    width: 85%;
    height: 100%;
  }
  .top_right_div {
    border: 1px solid black;
    width: 100%;
    height: 10%;
  }
  .navbar {
    display: flex;
  }
  .search_bar {
    /* border: 1px solid black; */
    background-color: #F2F2F2;
    display: flex;
    margin-top: 15px;
    margin-left: 223px;
    flex-direction: row;
  }
  .search_img {
    margin-top: 5px;
    margin-left: 10px;
    background-color: #F2F2F2;
  }
  /* input {
    margin-top: 0;
    outline: none;
  } */
  .search_input {
    width: 350px;
    margin-top: 5px;
    background-color: #F2F2F2;
  }
  .admin {
    /* border: 1px solid black; */
    width: 150px;
    height: 50px;
    margin-top: 9px;
    margin-left: 170px;
    display: flex;
    flex-direction: row;
  }
  .admin_photo {
    border: 1px solid rgb(233, 233, 233);
    width: 50px;
    height: 45px;
    border-radius: 50%;
    margin-left: 10px;
    margin-top: 4px;
  }
  .name {
    /* border: 1px solid black; */
    width: 70%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  span {
    margin: 4px;
    font-family: Titillium Web;
  }
  .middle_right_div {
    border: 1px solid black;
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    flex-direction: row;
  }
  .date {
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 125px;
    height: 25px; 
    border-radius: 5px;
    margin-left: 15px;
  }
  .filter {
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 125px;
    height: 25px; 
    border-radius: 5px;
    margin-left: 15px;
  }
  .delete {
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 125px;
    height: 25px; 
    border-radius: 5px;
    margin-left: 475px;
  }
  .import {
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 125px;
    height: 25px; 
    border-radius: 5px;
    margin-left: 15px;
  }
  .export {
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 125px;
    height: 25px; 
    border-radius: 5px;
    margin-left: 15px;
  }
  button {
    margin-top: 0;
    background-color: white;
    color: black;
    height: 23px;
    margin-top: -2px;
    margin-left: 0px;  
  }
  .right_end_div {
    /* border: 1px solid black; */
    width: 90%;
    height: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
  }